{#
/**
 * Available variables
 * - elements: array of element contains social media link.
 *
 */
#}


<div class="social-media-sharing">
  <ul class="icons-list text-center icons-list--large">
    {% set classes = [
    'share'
    ]
    %}
    {% for element in elements %}
      {% if element.forward_dialog == 1 %}
        {% set classes = classes|merge(['use-ajax']) %}
        {% set dialogType = "data-dialog-type=dialog" %}
        {% set dialogOptions = "data-dialog-options=" ~ {'width': '600'}|json_encode %}
      {% endif %}
      <li>
    {{ foo }}
        <a {{ dialogType }} {{ dialogOptions }} {{ element.attr.target }}  {{ element.api }}
          title="{{ element.text }}">
            <i {{ element.attr.class.addClass(classes) }}></i>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>

