{% if page.sub_footer_top_first or page.sub_footer_top_second or page.sub_footer_top_third %}
  <div class="clearfix subfooter-top {{ subfooter_top_background_color }} {{ subfooter_top_separator }} {{ (subfooter_top_blocks_paddings) ? ' region--no-block-paddings' : '' }}{{ (subfooter_top_region_paddings) ? ' region--no-paddings' : '' }}">
    <div class="{{ subfooter_top_layout_container }}">
      <div class="clearfix subfooter-top__container">
        <div class="row">

          {% include '@askviv/page/regions/sub-footer/site-branding.html.twig' %}
          {% include '@askviv/page/regions/sub-footer/social-media.html.twig' %}
          {% include '@askviv/page/regions/sub-footer/footer-menu.html.twig' %}

        </div>
      </div>
    </div>
  </div>
{% endif %}